.App {
  display: flex;
  flex-direction: row;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.CurrentDateTime {
  flex-basis: 60%;

}

.CurrentWeatherRequest {
  flex-basis: 40%;
}